<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodie</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>

    <div class="container">

        <div class="app">

            <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
            <video id="camera-stream"></video>
            <img id="snap">

            <p id="error-message"></p>

            <div class="controls">
                <button id="uploadbtn">
                    upload
                </button>
                <a href="#" id="take-photo" title="Take Photo">
                    <img src="static/takePhotoButton.svg" width="75px" height="75px" alt="">
                </a>

            </div>


            <div class="overlay">
                <div class="top"></div>

                <div class="bottom"></div>
            </div>

            <!-- Hidden canvas element. Used for taking snapshot of video. -->
            <canvas></canvas>

        </div>

    </div>
    <script src="static/camera.js"></script>
    <script>


        $("#uploadbtn").on('click', function () {
            // console.log('test')
            url = 'http://127.0.0.1:5000/';
            // console.log('test')
            // console.log($("#snap"))
            // console.log(snap.src)
            // console.log(snap)
            im = snap.src;
            // console.log(im.substring(im.indexOf(',')+1, im.length))
            // console.log(typeof im)

            let data = {

                'img': im.substring(im.indexOf(',')+1, im.length),
            }
            console.log(data)
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function (resultData) {
                    console.log('Success')
                },
            });

        });
    </script>
</body>

</html>